<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buyukeryazilim.WinpolHesabim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WinpolHesabim"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.buyukeryazilim.WinpolHesabim.GirisEkrani">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Musteriler" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Tedarikciler" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Urunler" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Satislar" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Alislar" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Masraflar" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Hesaplar" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Stoklar" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.Raporlar" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.MainActivity" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.MusteriBilgileri" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.MusteriBilgileriDetay" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.TedarikciBilgileri" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.TedarikciBilgileriDetay" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.UrunBilgileri" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.UrunBilgileriDetay" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.SatisIslemleri" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.SatisIslemleriDetay" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.SatisBilgisi" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.MusteriOdemeEkrani" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.TedarikciOdemeEkrani" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.AlisIslemleri" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.AlisIslemleriDetay" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.StokDetayi" />
        <activity android:name="com.buyukeryazilim.WinpolHesabim.SatisRaporu"></activity>
    </application>

</manifest>