<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buyukeryazilim.bizimhesapdeneme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GirisEkrani">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Musteriler" />
        <activity android:name=".Tedarikciler" />
        <activity android:name=".Urunler" />
        <activity android:name=".Satislar" />
        <activity android:name=".Alislar" />
        <activity android:name=".Masraflar" />
        <activity android:name=".Hesaplar" />
        <activity android:name=".Stoklar" />
        <activity android:name=".Raporlar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MusteriBilgileri" />
        <activity android:name=".MusteriBilgileriDetay" />
        <activity android:name=".TedarikciBilgileri" />
        <activity android:name=".TedarikciBilgileriDetay" />
        <activity android:name=".UrunBilgileri" />
        <activity android:name=".UrunBilgileriDetay" />
        <activity android:name=".SatisIslemleri" />
        <activity android:name=".SatisIslemleriDetay" />
        <activity android:name=".SatisBilgisi" />
        <activity android:name=".MusteriOdemeEkrani" />
        <activity android:name=".TedarikciOdemeEkrani" />
        <activity android:name=".AlisIslemleri" />
        <activity android:name=".AlisIslemleriDetay" />
        <activity android:name=".StokDetayi" />
        <activity android:name=".SatisRaporu"></activity>
    </application>

</manifest>